*.csproj
obj
Test.sln
Test.userprefs
Library
.idea/.idea.ECSTest/.idea
riderModule.iml
ECSTest.sln
ECSTest.sln.DotSettings.user
ECS.sln
.idea/.idea.ECS/.idea/modules.xml
.idea/.idea.ECS/.idea/indexLayout.xml
.idea/.idea.ECS/.idea/workspace.xml
.idea/.idea.ECS/.idea/vcs.xml
.idea/.idea.ECS/.idea/contentModel.xml
